SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=

SNOWFLAKE_ROLE=
SNOWFLAKE_WAREHOUSE=

SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=

AZURE_STORAGE_ACCOUNT=
AZURE_CONTAINER=

AZURE_STORAGE_CONNECTION_STRING=